$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";

$main-color: #294595;
$sub-color: #17284F;

body {
  font-family: helvetica;
  background-color: $main-color;
  color: #294595;
  margin: 0;
  color: white;
}

#top-nav {
    background-color: $sub-color;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: none;
}

.nav-element {
    margin: 10px;
    border-style: solid;
    width: 120px;
    padding: 5px;
    border-width: 1px;
}

.nav-logo {
    margin: 10px;
    width: 120px;
    padding: 5px;
    border-width: 1px;
    margin-right: 20px;
}

.main-content {
    max-width: 720px;
    padding: 15px;
}

.form-signin {
  max-width: 330px;
}

.signup-container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.form-signin {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    min-width: 330px;
}

.form-row {
  margin-top: 10px;
  margin-bottom: 10px;
}

button.btn {
    background-color: $sub-color;
    border-color: $sub-color;
}

a {
    color: white;
    background-color: initial;
    text-decoration: underline;
}
