
/*@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";*/
/*
    --icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
    */

:root {
    --main-color: #294595;
    --sub-color: #17284F;
    --error-color: #CA1823;
}

body {
  font-family: helvetica;
  background-color: var(--main-color);
  color: #294595;
  margin: 0;
  color: white;
}

#top-nav {
    background-color: var(--sub-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: none;
}

.nav-element {
    margin: 10px;
    border-style: solid;
    width: 120px;
    padding: 5px;
    border-width: 1px;
}

.nav-logo {
    margin: 10px;
    width: 120px;
    padding: 5px;
    border-width: 1px;
    margin-right: 20px;
}

.main-content {
    max-width: 720px;
    padding: 15px;
}

.form-signin {
  max-width: 330px;
}

.page-container {
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.signup-container {
    /*display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;*/
}

.form-signin {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    min-width: 330px;
}

.form-row {
  margin-top: 10px;
  margin-bottom: 10px;
}

button.btn {
    background-color: var(--sub-color);
}

a {
    color: white;
    background-color: initial;
    text-decoration: underline;
}

button.form-control {
    border-radius: 0;
}

input[type=text].form-control {
    border-radius: 0;
}

input[type=email].form-control {
    border-radius: 0;
}

input[type=password].form-control {
    border-radius: 0;
}

button.btn {
    border-radius: 0;
}

button.btn.active {
    color: var(--sub-color);
    background-color: white;
}

.clickable:hover {
    cursor: pointer;
}

.error-text {
    color: var(--error-color);
}

.account-container {
    background-color: var(--sub-color);
    padding: 15px;
}

.account-list-item {
    display: flex;
    flex-direction: row;
}

.currency-icon {
    width: 80px;
}

.btn {
    color: white;
    border-width: 1px;
    border-color: white;
}

button:hover {
    cursor: pointer;
}

.account-option {
    margin-bottom: 15px;
}

.account-option button.btn {
}

.account-options {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
}

.cc-options {
    display: flex;
}

.container {
    padding: 15px; 
}

.cc-option {
    display: flex; 
    align-items: center;
    flex: 0.2;
}

.cc-icon {
    font-size: 40px; 
    margin-right: 15px;
}

.cc-radio {
    width: initial;
}

.credit-card-options {
    display: flex;
}

.credit-card-details {
    display: flex;
    justify-content: space-between;
}

.cc-details {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
}

.cc-label {
    line-height: 1em; 
    margin-right: 15px; 
    font-size: 10pt;
}

.cc-input {
    width: initial; 
    padding: 3px;
}

.cc-expiry {
    display: inline;
}

.cc-expiry-container {
    display: flex; 
    flex-direction: column;
}


.cvv-container {
}

.form-row {
    /*display: flex;
    justify-content: space-between;*/
}

.form-label {
    line-height: 1em; 
    margin-right: 15px; 
    font-size: 10pt;
}

.form-input {
    width: initial; 
    padding: 3px;
}

.hidden {
    visibility: hidden;
}

.form-row .btn {
  width: 100%;
}

.form-col3 {
  width: 33.33%;
}

.flex-horizontal{
    display: flex;
    flex-direction: row;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
}

.clickable {
    cursor: pointer;
}

.order-entry + .order-entry{
    margin-left: 15px;
}

table.table-component {
    text-align: left;
}

table.table-component tr.empty-row {
    background-color: rgb(255, 255,255);
    color: var(--main-color);
}

table.table-component tr.empty-row td {
    text-align: center;
}

.width-initial {
    width: initial;
}

.smaller-font {
    font-size: smaller;
}

.pin-input {
    text-align: center;
    letter-spacing: 1em;
}

.side-by-side {
    display: flex;
}

.account-credit-operations {
    margin-left: auto;
}

.non-touching-button + .non-touching-button {
    margin-left: 15px;
}

.account-line + .account-line {
    margin-top: 15px;
}

.transaction-table {
    color: var(--sub-color);
    background-color: white;
}

